#app {
  min-height: 700px;
  color: #B3292F;
  background-color: #FAFAFA;
  border-radius: 7px;
  border: solid 1px #000;
  padding: 14px 7px;
}

#tasks {
  border: solid 1px #BFBFBF;
}

li.task-container {
  clear: both;
  color: #545454;
  border-bottom: 1px dotted #BFBFBF;
}
li.task-container:last-of-type {
  border-bottom: 0 none;
}

span.ok {
  float: left;
  width: 28px;
  padding: 0 7px;
  height: 34px;
  line-height: 34px;
  color: #DDD;
}

li.task-container.complete span.ok {
  color: green;
}

input.task {
  background-color: #FAFAFA;
  height: 34px;
  border: 0 none;
  border-left: 4px double #F9C1CA;
  display: block;
  padding: 0 10px;
  margin-left: 28px;
  width: 1120px;
}

li.task-container.complete input.task {
  color: #CCC;
  text-decoration: line-through;
}
