h1 {
  text-shadow: 0px -1px 1px rgba(0,0,0,0.6);
}
#app {
  min-height: 700px;
  color: #B3292F;
  background-color: #FAFAFA;
  border-radius: 7px;
  border: solid 1px #000;
  padding: 14px 7px;
}

#tasks {
  border: solid 1px #BFBFBF;
}

li.task-container {
  color: #545454;
  border-bottom: 1px dotted #BFBFBF;
}

li.task-container:last-of-type {
  border-bottom: 0 none;
}

li.task-container form {
  display: flex;
  display: -webkit-flex;
}

span.ok {
  width: 32px;
  padding: 0 7px;
  height: 34px;
  line-height: 34px;
  color: #DDD;
  border-right: 4px double #F9C1CA;
  display: inline-block;
  cursor: pointer;
}

li.task-container.complete span.ok {
  color: green;
}

input.task {
  background-color: #FAFAFA;
  height: 34px;
  border: 0 none;
  padding: 0 10px;
  flex: 1;
  -webkit-flex: 1;
}

li.task-container.complete input.task {
  color: #CCC;
  text-decoration: line-through;
}
